<h1>Contribuer à ce compost</h1>
<%= form_tag compost_contributions_path(@compost), method:"post" do %>

  <div class="field center">
    <%= text_area_tag :message, nil, placeholder: "Écris un gentil message pour le gestionnaire de ce compost (obligatoire)", class:"form-control" %>
  </div>
  <% if current_user%>
    <%= hidden_field_tag(:contributor_id, current_user.id) %>
  <% end %>
  <%= hidden_field_tag(:supplied_compost_id, @compost.id) %>
  <br>

  <div class="actions center">
    <%= submit_tag "Demander à contribuer", class:"btn btn-primary" %>
  </div>
  
<% end %>