<h1>Contribuer à ce compost</h1><br>

<h4 class='text-secondary'> Choisis ta date de contribution :</h4>
<%= form_tag contributions_path, method: "post" do %><br>


  <div>
    <%= datetime_field_tag(:contribution_date, Time.current.strftime("%d-%m-%YT%H:%M") ) %>
  </div><br>
    <%= hidden_field_tag(:contributor_id, current_user.id) %>
    <%= hidden_field_tag(:supplied_compost_id, @compost.id) %>

  <div>
    <%= submit_tag "contribuer", class:"btn btn-primary" %>
  </div>
<% end %>