<% content_for :title, "OkCompost / Paramètres Connexion" %>
<div class="container text-center">
  <h2 class="mt-4 mb-5">Modifier vos paramètres de connexion</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="row mb-2">
        <div class="col-sm-6 offset-sm-3">
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            <br>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field mb-3">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control",placeholder: raw("&#xf09c;  Nouveau mot de passe (ne rien mettre si vous ne souhaitez pas le changer)") %>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> caractères minimum</em>
            <% end %>
            <br>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: raw("&#xf023;  Confirmer le nouveau mot de passe") %>
            <br>
          </div>

          <div class="field">
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: raw("&#xf023;  Mot de passe actuel pour confirmer les changements") %>
            <br>
          </div>

          <div class="actions">
            <button class="btn btn-warning">Valider les changements</button>
          </div>
        </div>
      </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h3>Supprimer votre compte</h3>

      <p>Plus envie de valoriser vos épluchures ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr(e) ?" }, method: :delete, class: "btn btn-danger" %></p>

      <%= link_to "Retour", :back %>
    </div>
  </div>
</div>
