<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<section id="cover">
  <div id="cover-caption">
    <div id="container" class="container">
      <div class="row text-white ">
        <div class="col-sm-6 offset-sm-3 text-center">
          <br>
          <h1 class="text-center title_registration"> Inscrivez vous </h1>
          <br><br>
          <div class="info-form">
            <div>
                <%= f.email_field :email, autofocus: true, placeholder:raw("&#xf0E0;  Email"), autocomplete: "email", class:"form-control", style: "font-family: 'FontAwesome';"%>
            </div>
            <div>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, placeholder: raw("&#xf023;  Mot de passe"), autocomplete: "new-password", class:"form-control", style: "font-family: 'FontAwesome';" %>
              <br>
            </div>
            <div>
              <%= f.password_field :password_confirmation, placeholder: raw("&#xf09c;  Confirmer le mot de passe"), autocomplete: "new-password", class:"form-control", style: "font-family: 'FontAwesome';" %>
            </div>
            <br><br>
            <div>
              <%= f.submit "S'inscrire", class:"btn btn-primary"  %>
            </div>
            <% end %>
            <br>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
    </div>
