<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row mb-2">
  <div class="col-sm-6 offset-sm-3">
    <div class="field">
      <%= form.text_field :firstname, class: "form-control", placeholder:raw("&#xf007;  Prénom") %>
      <br>
    </div>

    <div class="field">
      <%= form.text_field :lastname, class: "form-control", placeholder:raw("&#xf007;  Nom") %>
      <br>
    </div>

    <div class="field">
      <%= form.text_field :username, class: "form-control", placeholder:raw("&#xf007;  Pseudo") %>
      <br>
    </div>

    <div class="field">
      <%= form.text_field :email, class: "form-control", placeholder:raw("&#xf0E0;  Email") %>
      <br>
    </div>

    <div class="field">
      <%= form.text_field :address, class: "form-control", placeholder:raw("&#xf041;  Adresse") %>
      <br>
    </div>

    <div class="field">
      <%= form.text_field :zipcode, class: "form-control", placeholder:raw("&#xf041;  Code postal") %>
      <br>
    </div>

    <div class="field">
      <%= form.text_field :city, class: "form-control", placeholder:raw("&#xf041;  Ville") %>
      <br>
    </div>

    <div class="field">
      <%= form.text_field :country, class: "form-control", placeholder:raw("&#xf041;  Pays") %>
      <br>
    </div>

    <div class="field">
      <%= form.text_field :avatar_url, class: "form-control", placeholder:raw("&#xf030;  Photo de profil") %>
      <br>
    </div>

    <div class="actions">
      <button class="btn btn-primary">Modifier</button>
      <br>
    </div>   
  </div>
</div>

<% end %>
