<% content_for :title, "OkCompost / Profil" %>
<div class="container">

  <h1 class="center">Profil</h1>
  
  <% if current_user.id == @user.id %>
    <h1>Bienvenue sur votre profil !</h1>
  <% elsif @user.username %>
    <h1>Profil de <%= @user.username %></h1>
  <% else %>
    <h1> Profil de l'utilisateur <%= @user.id %></h1>
  <% end %>

</div>

<div class="container">
  <% if current_user.id != @user.id %>
    <%= link_to "Ecrivez-moi!", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: "post", class: "btn btn-info mb-3" %>
  <% end %>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to 'Profil', '#profil_details', { 'data-toggle' => "tab", :class => "nav-link active" } %>
    </li>
    <li class="nav-item">
      <%= link_to 'Composts', '#user_composts', { 'data-toggle' => "tab", :class => "nav-link" } %>
    </li>
    <li class="nav-item">
      <%= link_to 'Contributions', '#user_contributions', { 'data-toggle' => "tab", :class => "nav-link" } %>
    </li>

    <% if user_signed_in? && current_user.id == @user.id%>
      <li class="nav-item">
        <%= link_to 'Messages', '#user_private_messages', { 'data-toggle' => "tab", :class => "nav-link" } %>
      </li>
    <% end %>

        </ul>
        <div class="tab-content py-4">
            <div class="tab-pane active" id="profil_details">
              <table class='table table-borderless table-hover'>
                <tbody>
                  <tr>
                    <th><h4 class='text-secondary'>Photo de profil</h4></th>
                    <td><h5><%= @user.avatar_url %></h5></td>
                  </tr>
                  <tr>
                    <th><h4 class='text-secondary'>Prénom</h4></th>
                    <td><h5><%= @user.firstname %></h5></td>
                  </tr>
                  <tr>
                    <th><h4 class='text-secondary'>Nom</h4></th>
                    <td><h5><%= @user.lastname %></h5></td>
                  </tr>
                  <tr>
                    <th><h4 class='text-secondary'>Pseudo</h4></th>
                    <td><h5><%= @user.username %></h5></td>
                  </tr>
                  <tr>
                    <th><h4 class='text-secondary'>Email</h4></th>
                    <td><h5><%= @user.email %></h5></td>
                  </tr>
                  <tr>
                    <th><h4 class='text-secondary'>Adresse</h4></th>
                    <td><h5><%= @user.address %></h5></td>
                  </tr>
                  <tr>
                    <th><h4 class='text-secondary'>Code postal</h4></th>
                    <td><h5><%= @user.zipcode %></h5></td>
                  </tr>
                  <tr>
                    <th><h4 class='text-secondary'>Ville</h4></th>
                    <td><h5><%= @user.city %></h5></td>
                  </tr>
                  <tr>
                    <th><h4 class='text-secondary'>Pays</h4></th>
                    <td><h5><%= @user.country %></h5></td>
                  </tr>
                </tbody>
              </table>
              <% if current_user.id == @user.id %>
                <%= link_to "Modifier votre profil", edit_user_path(@user), class: "btn btn-primary" %>
                <%= link_to "Modifier vos paramètres de connexion", edit_user_registration_path, class: "btn btn-warning" %>
              <% end %>
            </div> <!-- /tab-pane -->

            <div class="tab-pane" id="user_composts">
              <% if current_user.id == @user.id %>
                <%= link_to "Créer un nouveau compost", new_compost_path, class: "btn btn-info mb-3" %>
              <% end %>
              <table class="table table-hover table">
                <thead class='thead-light'>
                  <tr>
                    <th><h4 class='text-secondary'>Nom du compost</h4></th>
                    <th><h4 class='text-secondary'>Lien</h4></th>
                  </tr>
                </thead>
                <tbody>
                  <% @composts.each do |compost| %>
                    <tr>
                      <th><h3 class='text-secondary'><%= compost.title %></h3></th>
                      <td><p><%= link_to "Voir ce compost", compost_path(compost.id), class: "btn btn-primary" %></p></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div> <!-- /tab-pane -->
         

            <div class="tab-pane" id="user_contributions">
              <table class="table table-hover table">
                <thead class='thead-light'>
                  <tr>
                    <th><h4 class='text-secondary'>Nom du compost approvisionné</h4></th>
                    <th><h4 class='text-secondary'>Lien</h4></th>
                  </tr>
                </thead>
                <tbody>
                  <% @contributions.each do |contribution| %>
                    <tr>
                      <th><h3 class='text-secondary'><%= contribution.supplied_compost.title %></h3></th>
                      <td><p><%= link_to "Voir ce compost", compost_path(contribution.supplied_compost.id), class: "btn btn-primary" %></p></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div> <!-- /tab-pane -->
        
            <div class="tab-pane" id="user_private_messages">
              <table class="table table-hover table">
                <thead class='thead-light'>
                  <tr>
                    <th><h4 class='text-secondary'>Mes conversations</h4></th>
                  </tr>
                </thead>
                <tbody>
                  <th><%= render 'conversations/index' %></th>
                </tbody>
              </table>
            </div> <!-- /tab-pane -->
</div><!-- /container -->

<%= link_to 'Revenir à la page accueil', root_path, class: "btn btn-link" %>
