<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <section id="cover">
  <div id="cover-caption">
    <div id="container" class="container">
      <div class="row text-white ">
        <div class="col-sm-6 offset-sm-3 text-center">
          <br>
          <h1 class="text-center" style="color:black"> Mot de passe oublié ? </h1>
          <br><br>
          <div class="info-form">
             <div class="form-group">
            <div class="input-group-prepend">
            <%= f.email_field :email, autofocus: true, placeholder:raw("&#xf0E0;  Email"), autocomplete: "email", class:"form-control", style: "font-family: 'FontAwesome';"%>
            </div>
               </div>
    
          <br><br>
          <div >
            <%= f.submit "M'envoyer le lien de réinitialisation", class:"btn btn-primary" %>
            </div>
      <% end %>
            <br>
          
  

        <%= render "devise/shared/links" %>
        </div>
        </div>
      </div>
    </div>
    </div>
           