<%= form_with(model: result, local: true, html: { class: 'info-form'}) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron">
    <div class="container h-100">
      <div class="row" id="jumbotron-row">
        <div class="col-lg-6 col-sm-12">
            <h1 id="jumbotron-title" class="display-3 mx-5 text-center">Offrez de belles rencontres à vos épluchures !</h1> 
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="card mx-5">
            <div class="card-body">
              <h3 class="card-title">Cherchez un compost !</h3>
              <h6 class="card-subtitle mb-2 text-muted mt-3"> Renseignez vos critères de sélection :</h6>
              
              <div>
                <%= select_tag("result[district]", options_for_select([['Arrondissement de Paris', ""],['1er', '75001'], ['2ème', '75002'], ['3ème', '75003'], ['4ème', '75004'], ['5ème', '75005'], ['6ème', '75006'], ['7ème', '75007'], ['8ème', '75008'], ['9ème', '75009'], ['10ème', '75010'], ['11ème', '75011'], ['12ème', '75012'], ['13ème', '75013'], ['14ème', '75014'], ['15ème', '75015'], ['16ème', '75016'], ['17ème', '75017'], ['18ème', '75018'], ['19ème', '75019'], ['20ème', '75020']]), class: "form-control-welcome mb-2") %>
              </div>

              <div>
                <%= select_tag("result[search_mode]", options_for_select([['Recherche normale', 'normal'], ['Recherche stricte', 'strict'], ['Recherche cool', 'cool']]), class: "form-control-welcome mb-2") %>
              </div>
              
              <div class="row mt-2 mb-3">
                <% @compositions.each do |composition_tag| %>
                  <div class="field mr-2">
                    <%= form.label composition_tag.name.to_sym, class: "ml-3 mr-2" %>
                    <%= form.check_box(:composition, {:multiple => true}, composition_tag.name, nil) %>
                  </div>
                <% end %>
              </div>

              <button class="btn btn-primary px-5 mr-3">Et zou !</button>
              <p class="my-3">Ou alors : </p>
              <%= link_to "Créer un compost !", new_compost_path, class: "btn btn-info" %>
            </div>
          </div>  
        </div>
      </div>
    </div>

  </div>

<% end %>
