<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

  <div class="field">
    <%= form.label :arrondissement %>
    <%= form.text_field :district %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.check_box(:composition, {:multiple => true}, "bio", nil) %>
  </div>

  <div class="field">
    <%= form.label :coquilles %>
    <%= form.check_box(:composition, {:multiple => true}, "coquilles", nil) %>
  </div>

  <div class="field">
    <%= form.label :bananes %>
    <%= form.check_box(:composition, {:multiple => true}, "bananes", nil) %>
  </div>
  
<input type="checkbox" name="product[category_ids][2]" id="product_category_ids_2" value="1">
<% end %>
