<%= form_with(model: result, local: true, html: { class: 'info-form'}) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron">
    <div class="container h-100">
      <div class="row" id="jumbotron-row">
        <div class="col-6">
            <h1 id="jumbotron-title" class="display-3 mx-5 text-center">Offrez de belles rencontres à vos épluchures !</h1> 
        </div>
        <div class="col-6">
          <div class="card mx-5">
            <div class="card-body">
              <h5 class="card-title">Cherchez un compost !</h5>
              <h6 class="card-subtitle mb-2 text-muted mt-3"> Renseignez vos critères de sélection :</h6>
              
              <div>
                <%= form.label :arrondissement, class: "mr-2 my-3" %>
                <%= select_tag("result[district]", options_for_select([['1er', '001'], ['2ème', '002'], ['3ème', '003'], ['4ème', '004'], ['5ème', '005'], ['6ème', '006'], ['7ème', '007'], ['8ème', '008'], ['9ème', '009'], ['10ème', '010'], ['11ème', '011'], ['12ème', '012'], ['13ème', '013'], ['14ème', '014'], ['15ème', '015'], ['16ème', '016'], ['17ème', '017'], ['18ème', '018'], ['19ème', '019']]), class: "form-control-welcome") %>
                <!-- pour les arrondissements, tu peux les générer dans le controller, avec le @districts que je te mentionnais, si tu veux raccourcir ici -->
                <!-- si ça ne marche pas bien ou vite dis-le moi, je te filerai un coup de main -->
              </div>
              
              <div class="row mt-2 mb-3">
                <div class="field mr-2">
                  <%= form.label :bio, class: "ml-3 mr-2" %>
                  <%= form.check_box(:composition, {:multiple => true}, "bio", nil) %>
                </div>

                <div class="field mr-2">
                  <%= form.label :coquilles, class: "mr-2" %>
                  <%= form.check_box(:composition, {:multiple => true}, "coquilles", nil) %>
                </div>

                <div class="field mr-2">
                  <%= form.label :bananes, class: "mr-2" %>
                  <%= form.check_box(:composition, {:multiple => true}, "bananes", nil) %>
                </div> 
              </div>
              <button class="btn btn-primary px-5">Et zou !</button>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>

<% end %>
