<% content_for :title, "Bienvenue sur Ok Compost" %>
  <%= render 'form', result: @result %>

<div class="container mx-5">
  <h2 class="mb-3"><i class="fas fa-carrot"></i> Voici des exemples de super composts :</h2>
  <div class="row">
    <div class="col d-flex align-items-stretch">
	  <div class="card search-card border-success mb-3" style="max-width: 20rem;">
	    <div class="card-header bg-success"><%= @compost1.title%></div>
	    <div class="card-body">
	      <%= image_tag @compost1.picture, class:"img-tag" %>
	      <h4 class="card-title"><%=link_to @user1.username, user_path(@user1.id) %></h4>

            <div class="row">
              <%= link_to @compost1.district_list.to_s, {
                :controller => "results", :action => "create",
                :result => {
                  :district => @compost1.district_list.to_s, :composition => []
                }
              },
              :method => "post", :class => 'btn btn-info mx-1 mb-1'
              %>
            </div>

            <div class="row">
              <% @compost1.composition_list.sort.each do |composition_tag| %>
                <%= link_to composition_tag.to_s, {
                  :controller => "results", :action => "create",
                  :result => {
                    :district => nil, :composition => [composition_tag.to_s]
                  }
                },
                { :method => "post", :class => 'btn btn-outline-info mx-1 mb-1'} %>
              <% end %>
            </div>

	      <p class="card-text"><%= @compost1.description %></p>
	      <%= link_to "Voir ce compost", compost_path(@compost1), class: "btn btn-warning" %>
	    </div>
	  </div>

    </div>
    <div class="col d-flex align-items-stretch">
	  <div class="card search-card border-success mb-3" style="max-width: 20rem;">
	    <div class="card-header bg-success"><%= @compost2.title %></div>
	    <div class="card-body">
	      <%= image_tag @compost2.picture, class:"img-tag" %>
	      <h4 class="card-title"><%= link_to @user2.username, user_path(@user2.id) %></h4>
        <div class="row">
          <%= link_to @compost2.district_list.to_s, {
            :controller => "results", :action => "create",
            :result => {
              :district => @compost2.district_list.to_s, :composition => []
            }
          },
          :method => "post", :class => 'btn btn-info mx-1 mb-1' %>
        </div>
        
        <div class="row">
          <% @compost2.composition_list.sort.each do |composition_tag| %>
            <%= link_to composition_tag.to_s, {
              :controller => "results", :action => "create",
              :result => {
                :district => nil, :composition => [composition_tag.to_s]
              }
            },
            { :method => "post", :class => 'btn btn-outline-info mx-1 mb-1'} %>
          <% end %>
        </div>
	      <p class="card-text"><%= @compost2.description %></p>
	      <%= link_to "Voir ce compost", compost_path(@compost2), class: "btn btn-warning" %>
	    </div>
	  </div>
    </div>
  </div>
</div>
