<% content_for :title, "OkCompost / FAQ" %>

<div class="banner">
  <h3 class="banner-text center text-white">Foire Aux Questions</h3><br><br><br><br>
</div>

<div class="container mt-4">
  <div class="card">
  <div class="card-header center">
    Questions générales
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">1</span> &nbsp;
      <%= link_to 'Le compost c’est quoi ?', '#question_0', class:'btn-link' %></li>
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">2</span> &nbsp;
      <%= link_to 'Quels sont les déchets alimentaires pouvant aller au composteur ? ', '#question_1', class:"btn-link" %> </li>
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">3</span> &nbsp;
      <%= link_to 'Comment faire en sorte que le compostage se fasse au mieux ? ', '#question_2', class:'btn-link' %></li>
     <li class="list-group-item">
       <span class="badge badge-pill badge-primary">4</span> &nbsp;
       <%= link_to 'Combien de temps dure le processus de compostage ? ', '#question_3', class:'btn-link' %></li>
  </ul>
    <div class="card-header center">
    Je suis propriétaire d'épluchures
  </div>
     <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">5</span> &nbsp;
      <%= link_to 'Comment trouver un compost près de chez moi ? ', '#question_4', class:'btn-link' %></li>
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">6</span> &nbsp;
      <%= link_to 'J’habite hors de Paris est il possible de composter mes déchets alimentaires ? ', '#question_5', class:'btn-link' %> </li>
  </ul>
    <div class="card-header center">
    Je suis propriétaire de composteur
  </div>
     <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">7</span> &nbsp;
      <%= link_to 'J’ai un compost et j’aimerais le rendre accessible à la communauté comment faire ? ', '#question_6', class:'btn-link' %></li>
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">8</span> &nbsp;
      <%= link_to 'J’ai un compost dans ma cour mais je ne veux pas que tout le monde ai accès à mon adresse.', '#question_7', class:'btn-link' %> </li>
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">9</span> &nbsp;
      <%= link_to 'Comment fonctionne la mise à jour du remplissage du composteur ? ', '#question_8', class:'btn-link' %></li>
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">10</span> &nbsp;
      <%= link_to 'Que se passe t’il lorsque mon composteur est plein ?  ', '#question_9', class:'btn-link' %></li>   
  </ul>
</div><br> <br>

    
<div>
  <h3 id="question_0" name="question_0"><br><br></h3>
  <h3 id="question_1" name="question_1">
        Le compost c’est quoi ?
  </h3>
  <p class="text-secondary">
    Le compostage est un processus naturel qui consiste à transformer des déchets alimentaires en engrais portant le nom de compost. La transformation est réalisée par des micro-organismes, (bactéries, champignons, invertébrés) en présence d’humidité et d’oxygène.</p><br>
  
 <h3 id="question_2" name="question_2">
        Quels sont les déchets alimentaires pouvant aller au composteur ? 
  </h3>
  <p class="text-secondary">
   Les déchets alimentaires les plus connues sont ceux provenant des fruits et légumes (pelures et restes crus ou cuits) mais on peut aussi composter les coquilles (oeufs, fruits secs etc), le pain rassis, les marc de thé ou de café ou encore les pommes de terres germées.</p><br>
  
  <h3 id="question_3" name="question_3">
       Comment faire en sorte que le compostage se fasse au mieux ? 
  </h3>
  <p class="text-secondary">
   Pour faciliter le compostage les déchets doivent être les plus variés possible (entre humide et sec) et de petites tailles.</p><br>
  
  <h3 id="question_4" name="question_4">
        Combien de temps dure le processus de compostage ?  
  </h3>
  <p class="text-secondary">
  Le processus peut prendre de 2 mois à 2 ans selon la méthode et les déchets utilisés.</p><br>
  
  <h3 id="question_5" name="question_5">
        Comment trouver un compost près de chez moi ?
  </h3>
  <p class="text-secondary">
  Clique <%= link_to 'ici', root_path %> pour faire une nouvelle recherche de compost sur notre site. Tu pourras le chercher par localisation pour trouver les plus proche de chez toi mais aussi par tag de contenance pour être sure de trouver le compost qui accepte tes déchets alimentaires.
Lorsque vous aurez trouvé votre bonheur faite une demande de contribution elle sera alors envoyé au propriétaire du composteur</p><br>
  
  <h3 id="question_6" name="question_6">
          J’habite hors de Paris est il possible de composter mes déchets alimentaires ? 
  </h3>
  <p class="text-secondary">
  Nous ne sommes, pour le moment, présent que sur la région parisienne. Mais restez connectés, des nouveautés devraient arriver bientôt ! </p><br>
  
  <h3 id="question_7" name="question_7">
        J’ai un compost et j’aimerais le rendre accessible à la communauté comment faire ?  
  </h3>
  <p class="text-secondary">
  Clique <%= link_to 'ici', new_compost_path %> pour créer un nouveau compost. Tu pourras renseigner toutes les informations le concernant.</p><br>
  
  <h3 id="question_8" name="question_8">
      J’ai un compost dans ma cour mais je ne veux pas que tout le monde ai accès à mon adresse.

  </h3>
  <p class="text-secondary">
  Pas de panique, les données d’accès du compost ne sont accessibles que par les utilisateurs donc la demande de contribution a été accepté par vous en amont. Un système de message vous permet même de parler à l’utilisateur avant d’accepter la contribution. Un rendez vous à l’extérieur peut aussi être convenu entre les deux parties. </p><br>
  
  <h3 id="question_9" name="question_9">
  Comment fonctionne la mise à jour du remplissage du composteur ? 

  </h3>
  <p class="text-secondary">
  Une interface permet à chaque propriétaire de compost de le mettre à jour à partir du bouton editer présent sur la page du composteur  </p><br>
  
  <h3 id="question_9" name="question_9">
  Que se passe t’il lorsque mon composteur est plein ? 
  </h3>
  <p class="text-secondary">
  Lorsque que le composteur est à 100% il est automatiquement fermé aux contributions. Il ne reste plus qu’à attendre le joli compost qui en sortira.  </p><br><br><br>
  </div>
  
</div>