<% content_for :title, "OkCompost / FAQ" %>

<div class="banner">
  <h3 class="banner-text center text-white">Foire Aux Questions</h3><br><br><br><br>
</div>

<div class="container mt-4">
  <div class="card">
  <div class="card-header center">
    Questions générales
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">1</span> &nbsp;
      <%= link_to 'Le compost c’est quoi ?', '#question_1', class:'btn-link' %></li>
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">2</span> &nbsp;
      <%= link_to 'Quels sont les déchets alimentaires pouvant aller au composteur ? ', '#question_2', class:"btn-link" %> </li>
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">3</span> &nbsp;
      <%= link_to 'Comment faire en sorte que le compostage se fasse au mieux ? ', '#question_3', class:'btn-link' %></li>
     <li class="list-group-item">
       <span class="badge badge-pill badge-primary">4</span> &nbsp;
       <%= link_to 'Combien de temps dure le processus de compostage ? ', '#question_4', class:'btn-link' %></li>
  </ul>
    <div class="card-header center">
    Je suis propriétaire d'épluchures
  </div>
     <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">5</span> &nbsp;
      <%= link_to 'Comment trouver un compost près de chez moi ? ', '#question_5', class:'btn-link' %></li>
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">6</span> &nbsp;
      <%= link_to 'J’habite hors de Paris est il possible de composter mes déchets alimentaires ? ', '#question_6', class:'btn-link' %> </li>
  </ul>
    <div class="card-header center">
    Je suis propriétaire de composteur
  </div>
     <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">7</span> &nbsp;
      <%= link_to 'J’ai un compost et j’aimerais le rendre accessible à la communauté comment faire ? ', '#question_7', class:'btn-link' %></li>
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">8</span> &nbsp;
      <%= link_to 'J’ai un compost dans ma cour mais je ne veux pas que tout le monde ai accès à mon adresse.', '#question_8', class:'btn-link' %> </li>
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">9</span> &nbsp;
      <%= link_to 'Comment fonctionne la mise à jour du remplissage du composteur ? ', '#question_9', class:'btn-link' %></li>
    <li class="list-group-item">
      <span class="badge badge-pill badge-primary">10</span> &nbsp;
      <%= link_to 'Que se passe t’il lorsque mon composteur est plein ?  ', '#question_10', class:'btn-link' %></li>   
  </ul>
</div><br> <br>

    
<div>
    <ul>
      <li>
        <h3 id="question_1" name="question_1">
           <span class="badge badge-pill badge-primary">1</span> Le compost c’est quoi ?
        </h3>
          Le compostage est un processus naturel qui consiste à transformer des déchets alimentaires en engrais portant le nom de compost. La transformation est réalisée par des micro-organismes, (bactéries, champignons, invertébrés) en présence d’humidité et d’oxygène.
      </li>
    
      <li>
        <h3 id="question_2" name="question_2">
            Question 2 ?
        </h3>
            Réponse 2.
        </li>
    
        <li>
          <h3 id="question_3" name="question_3">
              Question 3 ?
          </h3>
              Réponse 3.
        </li>
    
        <li>
          <h3 id="question_4" name="question_4">
              Question 4 ?
          </h3>
            Réponse 4.
        </li>
    </ul>
  </div>
</div>