<% content_for :title, "OkCompost / Team" %>
  <section class="team container-fluid">

    <div class="row justify-content-md-center border">
                <%= image_tag 'feuille.png', class: "logo"%>
                <h1 class="col-md-auto">OK COMPOST</h1>
                <%= image_tag 'icon.png', class: "logo"%>
    </div>

    <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 text-center"><h3>Charlotte FLAMENT</h3>
                <%= image_tag "team/charlotte.jpg"%><br>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 text-center"><h3>Florence ORGERET</h3>
                <%= image_tag "team/florence.jpg"%><br>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 text-center"><h3>Margaux CHAIX</h3>
                <%= image_tag "team/margaux.jpg"%><br>
              </div>
    </div>

    <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-1 text-center">
                <%= link_to "", "#", class: "link_to"%>
              </div>

              <div class="col-lg-5 col-md-5 col-sm-6 text-center"><h3>Gaël DUBOIS</h3>
                <%= image_tag "team/gael.jpg"%><br>
              </div>

              <div class="col-lg-5 col-md-5 col-sm-6 text-center"><h3>Cédric RENAUD</h3>
                <%= image_tag "team/cedric.jpg"%><br>
              </div>

              <div class="col-lg-1 col-md-1 col-sm-1 text-center">
                <%= link_to "", "#", class: "link_to"%>
              </div>
    </div>

  </<section>
