<% content_for :title, "OkCompost / Team" %>
  <section class="team container-fluid">

    <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 text-center"><h3>Charlotte FLAMENT</h3>
                <%= image_tag "team/charlotte.jpg"%><br>
                <%= link_to "Github", "#", class: "link_to"%>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 text-center"><h3>Florence ORGERET</h3>
                <%= image_tag "team/florence.jpg"%><br>
                <%= link_to "Github", "#", class: "link_to"%>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 text-center"><h3>Margaux CHAIX</h3>
                <%= image_tag "team/margaux.jpg"%><br>
                <%= link_to "Github", "#", class: "link_to"%>
              </div>
    </div>

    <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 text-center"><h3>Gaël DUBOIS</h3>
                <%= image_tag "team/gael.jpg"%><br>
                <%= link_to "Framagit", "#", class: "link_to"%>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 text-center"><h3>Cédric RENAUD</h3>
                <%= image_tag "team/cedric.jpg"%><br>
                <%= link_to "Github", "#", class: "link_to"%>
              </div>
    </div>

  </<section>
