<% content_for :title, "OkCompost / Team" %>
<%= render "pages/jumbotron" %>
<section class="team container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 text-center"><h3>Charlotte FLAMENT</h3>
      <%= image_tag "team/charlotte.jpg", class: "mb-3" %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 text-center"><h3>Florence ORGERET</h3>
      <%= image_tag "team/florence.jpg", class: "mb-3" %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 text-center"><h3>Margaux CHAIX</h3>
      <%= image_tag "team/margaux.jpg", class: "mb-3" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 text-center">
      <%= link_to "", "#", class: "link_to"%>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 text-center"><h3>Gaël DUBOIS</h3>
      <%= image_tag "team/gael.jpg", class: "mb-3" %>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 text-center"><h3>Cédric RENAUD</h3>
      <%= image_tag "team/cedric.jpg", class: "mb-3" %>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 text-center">
      <%= link_to "", "#", class: "link_to"%>
    </div>
  </div>
</section>
