<nav class="navbar navbar-expand-lg navbar-light bg-light border">
  
  <!-- Logo -->

  <%= image_tag 'care.png', class: "logo"%>

  <!-- Root link -->

  <%= link_to "Ok Compost", root_path, class: "text nav-link mx-2" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Dropdown menu for log in and Co-->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">

      <li class="nav-item dropdown">
        <% if user_signed_in? %>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mon profil
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mon profil", user_path(current_user.id), class: "dropdown-item" %>
            <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        <% else %>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            M'identifier
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Me connecter", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "M'inscrire", new_user_registration_path, class: "dropdown-item" %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
